body {
	/* padding: 1rem; */
	height: 100vh;
	background-color: aliceblue;
	box-sizing: border-box;
}

.c-plane {
	background: url('https://cdn-icons-png.flaticon.com/512/3696/3696600.png') no-repeat center;
	background-size: contain;
	height: 14rem;
	width: 15rem;
	position: absolute;
	/* top: 40%; */
	bottom: 0;

	/* Animation: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations*/
	/* animation-name: fly; */
	/* animation-duration: 2s; */
	/* animation-timing-function: ease-in-out; */
	/* animation-delay: 2s;
	/* animation-iteration-count: 2; */
	/* animation-direction: reverse;  */
	/* animation-fill-mode: forwards; */
	/* animation-play-state: paused; */

	/* So we can use all properties in one, and the order is the same that we used above */
	animation: fly 3s ease-in-out 0.5s;
}

@keyframes fly { 
	0% {
		/* transform: rotate(-5deg); */
	}

	40% {
		transform: rotate(-30deg) translate(calc(100vw - 7.5rem), 7rem); /* this is something to study, wwe can't pass the X=calc, with a Y=0, if we do, the animation will end before the end of the screen*/
	}

	100% {
		transform: rotate(-50deg) translate(-25vw, 180vh);
	}
}